body {
    background-color: none;
}

.nav-wrapper {
    background-color: black;
}

.nav-wrapper img{
    width: 400px;
    height: auto;
    padding-top: 10px;
}

.collapsible {
    width: 75vw;
    margin: auto;
    color: white;
}

.collapsible-header i {
    font-size: 35px;
    line-height: inherit;
}

.collapsible-header h4 {
    margin-top: 10px;
    margin-left: 10px;
}

.collapsible-header h5 {
    margin: auto;
}

.collapsible-body {
    color: slategray;
}

.add-review-title {
    text-align: center;
}

.input-field, .card-panel {
    width: 80% !important;
    margin-left: 10% !important;
}

