{% extends "base.html" %}
{% block content %}

    <h3 class="add-review-title"><i class="fal fa-sword-laser"></i>Add Review</h3>

    <div class="row card-panel">
        <form class="col s12" method="POST" action="{{ url_for('add_review') }}">
    <!--  Icon Selection -->
            <div class="row">
                <div class="input-field col s12">
                    <select id="icon_name" name="icon_name" class="validate" required>
                    <option value="" disabled selected>Choose your option</option>
                    {% for icon in icons %}
                        <option value="{{ icon.icon_name }}">{{ icon.icon_font }}</option>
                    {% endfor %}
                    </select>
                    <label for="icon_name"><i class="far fa-icons"></i> Icon</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <select onchange="filmSelected()" id="review_name" name="review_name" class="validate" required>
                    <option value="" disabled selected>Choose your option</option>
                    {% for film in films %}
                        <option value="{{ film.film_name }}">{{ film.film_name }}</option>
                    {% endfor %}
                    </select>
                    <label for="review_name"><i class="far fa-icons"></i> Film</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <textarea id="film_subtitle" name="film_subtitle" class="validate">
                        </textarea>
                        <label for="film_subtitle"><i class="far fa-icons"></i> Subtitle</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <textarea id="review_description" name="review_description" 
                        minlength="5" maxlength="200" class="materialize-textarea 
                            validate" required></textarea>
                    <label for="review_description"><i class="fal fa-file-alt"></i> Description</label>
                </div>
            </div>
            <div class="row">
                <div class="col s12 center-align">
                    <button type="submit" class="btn-large">
                        Add Review <i class="fal fa-comment-lines"></i>
                    </button>
                </div>
            </div>
        </form>
        </div>

{% endblock %}