{% extends "base.html" %}
{% block content %}

<div class="container-fluid">
    <div class="main-img">
        <div class="centered">"'It’s the ship that made the Kessel run in less than twelve parsecs. I’ve outrun Imperial
            starships. Not the local bulk cruisers, mind you. I’m talking about the big Corellian ships, now. She’s fast
            enough for you, old man.'"<br> — Han Solo<br>
        </div>
        
        <form method="get" action="{{ url_for('get_reviews') }}">
            <button type="submit" class="review-link">VIEW STAR WARS REVIEWS</button>
        </form>
        
    </div>
</div>
    

{% endblock %}