{% extends "base.html" %}
{% block content %}

<div class="hero-image">
    <img src="/static/images/millennium_falcon_2.png" alt="Millennium Falcon">
    <div class="centered">"'It’s the ship that made the Kessel run in less than twelve parsecs. I’ve outrun Imperial
        starships. Not the local bulk cruisers, mind you. I’m talking about the big Corellian ships, now. She’s fast
        enough for you, old man.'"<br> — Han Solo<br>
        <br>
        <a href="{{ url_for('get_reviews') }}"><strong> VIEW STAR WARS REVIEWS</strong></a>
    </div>
</div>
    

{% endblock %}