    {% extends "base.html" %}
    {% block content %}

    <div class="card-panel">
        <div class="panel-layout">
            <div class="row">

                <div class="col s6 panel-box-one">
                    <img id="pro-image" src="/static/images/{{ profile_image }}">
                </div>

                <div class="col s6 panel-box-one">
                    <!--<div class="profile-title">-->
                    <h6>Account Name:</h6>
                    <h5>
                    <!-- Audio clip to be played is based on the "side" the User has chosen -->
                    <span id="audio">{{ sides }}</span> {{ username }}'s Profile
                    </h5>
                </div>

                <div class="col s6 panel-box-two">
                    {% if session.user == user.username %}
                    <a class="waves-effect waves-light btn-large button-pro"
                        href="{{ url_for('edit_user', user_id=user._id) }}">Edit</a>
                    {% endif %}
                </div>
                <div class="col s6 panel-box-two">
                
                    <div id="audio-button">
                    </div>
                
                </div>
            </div>
        </div>
    </div>

         

        {% endblock %}

        {% block scripts %}
        <script src="{{ url_for('static', filename='js/profile.js') }}"></script>
        {% endblock %}