{% extends "base.html" %}
{% block content %}

    <h2 class="main-title" >REVIEWS</h2>

    <ul class="collapsible popout">
        {% for reviews in reviews %}
        <li>
            <div class="row">
                <div class="collapsible-header col s12">
                    <div class="col s4">
                        <h4><i class="{{ reviews.icon_name }}"></i>{{ reviews.review_name }}</h4>
                    </div>
                    <div class="col s3">
                        <p>{{ reviews.film_subtitle }}</p>
                    </div>
                    <div class="col s2">
                        <p><a href="{{ url_for('view_profiles', username=reviews.reviewed_by) }}" class="tooltipped" data-position="bottom" data-tooltip="View Profile"><em>by: {{ reviews.reviewed_by }}</em></a></p>
                    </div>
                {% if session.user|lower == reviews.reviewed_by|lower %}
                <div class="col s1">
                    <div class="dropdown-sw">
                        <button class="dropbtn-sw"></button>
                        <div class="dropdown-content-sw">
                            <a href="{{ url_for('edit_review', reviews_id=reviews._id) }}">Edit</a>
                            <a href="{{ url_for('delete_review', reviews_id=reviews._id) }}">Delete</a>
                        </div>
                    </div>
                </div>
                {% else %}
                    <div class="col s1">
                    </div>
                {% endif %}
                </div>
            </div>
            <div class="collapsible-body">
                <h5>ERA: </h5><h6>{{ reviews.review_era }}</h6><br>
                <p>{{ reviews.review_description }}</p>
                <p><em>by: {{ reviews.reviewed_by }}</em></p>
            </div>
            </li>
        {% endfor %}
    </ul>
    

{% endblock %}