{% extends "base.html" %}
{% block content %}

    <ul class="collapsible popout">
        {% for reviews in reviews %}
        <li>
            <div class="row">
                <div class="collapsible-header blue-grey darken-3 col s12">
                    <div class="col s6">
                        <h4><i class="{{ reviews.icon_name }}"></i>{{ reviews.review_name }}</h4>
                    </div>
                    <div class="col s5">
                        <h5>{{ reviews.review_subtitle }}</h5>
                    </div>
                {% if session.user %}
                    <div class="col s1">
                        <div class="dropdown-sw">
                            <button class="dropbtn-sw"></button>
                            <div class="dropdown-content-sw">
                                <a href="{{ url_for('edit_review', reviews_id=reviews._id) }}">Edit</a>
                                <a href="#">Link 2</a>
                                <a href="#">Link 3</a>
                            </div>
                        </div>
                    </div>
                {% endif %}
                </div>
            </div>
            <div class="collapsible-body">
                <h5>ERA: </h5><h6>{{ reviews.review_era }}</h6><br>
                <p>{{ reviews.review_description }}</p>
                <p><em>by: {{ reviews.reviewed_by }}</em></p>
            </div>
        </li>
        {% endfor %}
    </ul>
    

{% endblock %}