{% extends "base.html" %}
{% block content %}
    
    <div class="card-panel">
        <div class="row">
            <div class="profile-layout">
                <div class="col s3 offset-s2">
                    <img id="pro-image" src="/static/images/{{ profile_image }}">
                </div>
                <div class="col s6 offset-s1">
                    <div class="profile-title">
                        <h6>Account Name:</h6>
                    </div>
                    <div class="h3">
                        <h5>
                        <span id="audio">{{ sides }}</span> {{ username }}'s Profile
                        </h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
{% endblock %}
